<li id="<%= id %>" class="packageInfo">
<div class="row">
    <div class="ten mobile-three columns">
        <h5><%= name ? name : ("Package from " + service) %></h5>
        <p><strong>Tracking number:</strong> <%= tracking %>
        <br><strong>Delivery Service:</strong> <%= service %></p>
        <p>This package has <%= id ? "" : "not" %> been delivered.</p>
    </div>
    <div class="two mobile-one columns" style="text-align:right;">
        <i style="font-size:18px" class="foundicon-remove" id="remove"></i>
        <i style="font-size:18px;" class="foundicon-globe" id="view"><p style="margin-top:-15px;"><small>View</small></p></i>
    </div>
</div>
<div class="row">
    <div class="hide-for-small twelve mobile-four columns">
        <strong>Details:</strong>
        <ul id="details" style="padding-left: 7%">

        </ul>
    </div>
</div>
</li>
