<div class="row">
    <div class="three columns"></div>
    <div class="nine columns">
        <h4>Preferences</h4>
    </div>
</div>


<form>
    <div class="row">
        <div class="three columns">
        </div>
        <div class="nine columns">
            <div class="alert-box" style="display:none;"></div>
        </div>
    </div>
    <div class="row">
        <div class="three columns">
            <label for="firstName" class="right inline">Name:</label>
        </div>
        <div class="four columns">
            <input type="text" id="firstName" name="firstName" value="<%= (firstName == null) ? "" : firstName %>"/>
            <small></small>
        </div>
        <div class="five columns">
            <input type="text" id="lastName" name="lastName" value="<%= (lastName == null) ? "" : lastName %>"/>
            <small></small>
        </div>
    </div>

    <div class="row">
        <div class="three columns">
            <label for="email" class="inline right">Email:</label>
        </div>

        <div class="nine columns">
            <input type="text" id="email" name="email" value="<%= (email == null) ? "" : email %>"/>
            <small></small>
        </div>
    </div>

    <div class="row">
        <div class="three columns">
            <label for="password" class="inline right">New Password:</label>
        </div>
        <div class="nine columns">
            <input type="password" id="password" name="password" placeholder="(Leave blank to keep your old password)"/>
            <small></small>
        </div>
    </div>

    <div class="row">
        <div class="three columns">
            <label for="passwordConfirm" class="inline right">Confirm:</label>
        </div>
        <div class="nine columns">
            <input type="password" id="passwordConfirm" name="passwordConfirm"/>
            <small></small>
        </div>
    </div>

    <div class="row">
        <div class="three columns"></div>
        <div class="nine columns">
            <a id="create" class="success button small radius centered">Change settings</a>
        </div>
    </div>


</form>
